
@model PanelViewModel



<div class="container justify-content-md-start ">
    <div class="row">
        <div class="col-md col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link btn btn-info mb-1" asp-controller="BugReports" asp-action="AllBugReports">Bug reports</a></li>
                <li class="nav-item"><a class="nav-link btn btn-info mb-1" asp-controller="PostReports" asp-action="AllPostReports">Post reports</a></li>
            </ul>
        </div>
        <div class="text-center col-md col-md-6">
            <h2 class="text-warning mb-2">Forum stats</h2>
            <h5>Total accounts: @Model.TotalAccounts</h5>
            <h5>Total characers: @Model.TotalCharacters</h5>
            <h5>Total posts: @Model.TotalPosts</h5>
            <h5>Total threads: @Model.TotalThreads</h5>
            <h5>Total unresolved bug reports: @Model.TotalUnresolvedBugReports</h5>
            <h5>Total unresolved post reports: @Model.TotalUnresolvedPostReports</h5>
        </div>
        <div class="col-md col-md-3">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item"><a class="nav-link btn btn-info mb-1" asp-controller="Posts" asp-action="NewestPosts">Newest posts</a></li>
                <li class="nav-item"><a class="nav-link btn btn-info mb-1" asp-controller="Threads" asp-action="NewestThreads">Newest threads</a></li>
                <li class="nav-item"><a class="nav-link btn btn-info mb-1" asp-controller="Characters" asp-action="NewestCharacters">Newest characters</a></li>
            </ul>
        </div>
    </div>
</div>



