@model CharacterUserViewModel
@inject Random random
@{ 
    var randomImageQuery = random.NextDouble().ToString();
} 

<div class="text-center">
    <div class="col-md-12 ">
        <img src="~/Images/CharacterImages/@Model.CharacterImagePath?random=@Model.RandomImageQuery" style="width: 50%; height: 50%;" />
        <div class="col-md-12 text-left mt-5 background-color">
            <div class="text-center">
                <h4><span class="font-weight-bold">Name: </span>@Model.Name</h4>
                <h4><span class="font-weight-bold">Title: </span>@Model.Title</h4>
                <h5><span class="font-weight-bold">Gender: </span>@Model.Gender</h5>
                <h5><span class="font-weight-bold">Type: </span>@Model.CharacterType</h5>
                <h5><span class="font-weight-bold">Force affiliation: </span>@Model.ForceAffiliationString</h5>
                <h5><span class="font-weight-bold">Faction: </span>@Model.ClassFaction</h5>
            </div>
        </div>
    </div>
</div>

<div class="text-break ">
    <h5 class="font-weight-bold">Description</h5>
    <p>@Model.Description</p>
    <h5 class="font-weight-bold">Backstory</h5>
    <p>@Model.Backstory</p>
</div>

@if (this.User.IsInRole("Admin") && !Model.IsApproved)
{
    <a class="btn btn-primary" href="/Administration/Characters/ApproveCharacter/?characterId=@Model.Id&accountId=@Model.AccountId">Approve</a>
}

