
@model List<ThreadViewModel>
@{
    var pager = Model.Select(x => x.Pager).FirstOrDefault();
    var accountId = Model.Select(x => x.AccountId).FirstOrDefault();
}

<div class="row">
    <div class="col-md-12">
        @if (Model.Count <= 0)
        {
            <div class="text-center">
                <h2>
                    The are currently no threads on the server.
                </h2>
            </div>
        }
        else
        {
            @foreach (var item in Model)
            {

                <div class="card mb-4 bg-dark">
                    <div class="card-header">
                        <div class="media flex-wrap w-100 align-items-center">
                            @if (item.AccountAvatarImagePath != null)
                            {
                                <img src="/Images/AvatarImages/@item.AccountAvatarImagePath?random=@ViewData["random"].ToString()" class="d-block ui-w-40 rounded-circle border border-warning" height="100" width="100" alt="">
                            }
                            else
                            {
                                <img src="/Images/AvatarImages/defaultAvatar.jpg?random=@ViewData["random"].ToString()" class="d-block ui-w-40 rounded-circle border border-warning" height="100" width="100" alt="">
                            }
                            <div class="media-body ml-3">
                                <div class="float-right">
                                    <a href="/Threads/ById?threadId=@item.Id" class="text-decoration-none text-warning row">@item.ShortenedTitle</a>
                                    <a href="/Administration/Threads/Delete?threadId=@item.Id" class="btn btn-danger row">Delete</a>
                                </div>

                                <label class="text-warning">@item.AccountUserName</label>
                                <div class="text-info small">Created on <strong>@item.NormalizedCreatedOn</strong></div>
                                <label class="text-info small">@item.PostsCount <span class="font-weight-bold">posts</span></label>
                            </div>
                            
                        </div>
                    </div>
                    <div class="card-body" style="background-color: #384047;">
                        @Html.Raw(item.SanitizedDescription)
                    </div>
                    <div class="card-footer">
                        @Html.Raw(item.SanitizedForumSignature)
                    </div>
                </div>

            }
            @if (pager.EndPage > 1)
            {
                <div class="float-left">
                    <ul class="pagination">
                        @if (pager.CurrentPage > 1)
                        {
                            <li class="float-left mr-1">
                                <a href="/Threads/NewestThreads" class="btn btn-info">First</a>
                            </li>
                            <li class="float-left mr-1">
                                <a href="/Threads/NewestThreads?page=@(pager.CurrentPage - 1)" class="btn btn-info">Previous</a>
                            </li>
                        }

                        @for (var page = pager.StartPage; page <= pager.EndPage; page++)
                        {
                            <li class="@(page == pager.CurrentPage ? "active" : "") float-right mr-1">
                                <a href="/Threads/NewestThreads?page=@(page)" class="btn btn-info">@(page)</a>
                            </li>
                        }

                        @if (pager.CurrentPage < pager.TotalPages)
                        {
                            <li class="float-right mr-1">
                                <a href="/Threads/NewestThreads?page=@(pager.CurrentPage + 1)" class="btn btn-info">Next</a>
                            </li>
                            <li class="float-right mr-1">
                                <a href="/Threads/NewestThreads?page=@(pager.TotalPages)" class="btn btn-info">Last</a>
                            </li>
                        }
                    </ul>
                </div>
            }
        }
    </div>
</div>



