@model ThreadViewModel
@inject UserManager<Account> userManager

@{
    var currAccountId = this.userManager.GetUserAsync(this.User).Result.Id;
}
<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4 bg-dark">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        @if (Model.AccountAvatarImagePath != null)
                        {
                            <img src="/Images/AvatarImages/@Model.AccountAvatarImagePath?id=@Model.RandomImageQuery" class="d-block ui-w-40 rounded-circle border border-warning" height="100" width="100" alt="">
                        }
                        else
                        {
                            <img src="/Images/AvatarImages/defaultAvatar.jpg?id=@Model.RandomImageQuery" class="d-block ui-w-40 rounded-circle border border-warning" height="100" width="100" alt="">
                        }
                        <div class="media-body ml-3">
                            <a href="/Accounts/ForeignAccount?accountId=@Model.AccountId" class="text-decoration-none text-warning" data-abc="true">@Model.AccountUserName</a>
                            <div class="text-info small">Created on <strong>@Model.NormalizedCreatedOn</strong></div>
                            <div class="text-info small">
                                <strong>@Model.PostsCount</strong>@if (Model.PostsCount == 1)
                                {
                                    <span>post</span>
                                }
                                else
                                {
                                    <span>posts</span>
                                }
                            </div>
                        </div>
                        <div>
                            <form id="votesForm" method="post">
                                <div>
                                    <a href="#" class="text-decoration-none text-warning" onclick="sendVote('@Model.Id', true)">
                                        <i class="fas fa-chevron-up"></i>
                                    </a>

                                </div>
                                <div id="votesCount" class="text-center">@Model.VotesCount</div>
                                <div>
                                    <a href="#" class="text-decoration-none text-warning" onclick="sendVote('@Model.Id', false)">
                                        <i class="fas fa-chevron-down"></i>
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="background-color: #384047;">
                    @Html.Raw(Model.SanitizedDescription)
                </div>
                <div class="card-footer">
                    @Html.Raw(Model.SanitizedForumSignature)
                </div>
            </div>
            @foreach (var item in Model.Posts)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4 bg-dark">
                            <div class="card-header">

                                <div class="media flex-wrap w-100 align-items-center">

                                    @if (item.AccountAvatarImagePath != null)
                                    {
                                        <img src="/Images/AvatarImages/@item.AccountAvatarImagePath?id=@Model.RandomImageQuery" class="d-block ui-w-40 rounded-circle border border-warning" height="100" width="100" alt="">
                                    }
                                    else
                                    {
                                        <img src="/Images/AvatarImages/defaultAvatar.jpg?id=@Model.RandomImageQuery" class="d-block ui-w-40 rounded-circle border border-warning" height="100" width="100" alt="">
                                    }
                                    <div class="media-body ml-3">

                                        @if (item.AccountId == currAccountId)
                                        {
                                            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="text-decoration-none text-warning" data-abc="true">@item.AccountUserName</a>
                                            <a href="/Posts/Edit?postId=@item.Id&threadId=@Model.Id" class="btn btn-primary btn-sm float-right">Edit post</a>
                                        }
                                        else
                                        {
                                            <a href="/Accounts/ForeignAccount?accountId=@item.AccountId" class="text-decoration-none text-warning" data-abc="true">@item.AccountUserName</a>
                                            <a href="/PostReports/Create?postId=@item.Id" class="btn btn-danger btn-sm float-right">Report post</a>
                                        }
                                        <div class="text-info small">Created on <strong>@item.NormalizedCreatedOn</strong></div>

                                    </div>

                                </div>
                            </div>
                            <div class="card-body" style="background-color: #384047;">
                                @Html.Raw(item.SanitizedDescription)
                            </div>
                            <div class="card-footer">
                                @Html.Raw(item.SanitizedForumSignature)
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="d-flex justify-content-between">
                <div><partial name="PaginationView" model="Model" /></div>
                <div><a href="/Posts/Create?threadId=@Model.Id" class="btn btn-primary">Reply</a></div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        function sendVote(threadId, isUpVote) {
            var json = { threadId: threadId, isUpVote: isUpVote };
            var token = $("#votesForm input[name=__RequestVerificationToken]").val();
            $.ajax({
                url: "/api/votes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': token },
                success: function (data) {
                    $("#votesCount").html(data.votesCount);
                }
            });
        }
    </script>
}