@model ThreadViewModel
@inject UserManager<Account> UserManager
@inject AccountServices accountService
@inject Random random
@{
    var account = UserManager.GetUserAsync(this.User);
    var randomImageQuery = random.NextDouble().ToString();
}

<div class="container-fluid mt-100">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4 bg-dark">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        @if (Model.AccountAvatarImagePath != null)
                        {
                            <img src="/Images/AvatarImages/@Model.AccountAvatarImagePath?id=@Model.RandomImageQuery" class="d-block ui-w-40 rounded-circle border border-warning" height="100" width="100" alt="">
                        }
                        else
                        {
                            <img src="/Images/AvatarImages/defaultAvatar.jpg?id=@Model.RandomImageQuery" class="d-block ui-w-40 rounded-circle border border-warning" height="100" width="100" alt="">
                        }
                        <div class="media-body ml-3">
                            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="text-decoration-none text-warning" data-abc="true">@Model.AccountUserName</a>
                        </div>
                        <div class="text-info small ml-3">
                            <div>Created on <strong>@Model.CreatedOn</strong></div>
                            <div><strong>@Model.PostsCount</strong> posts</div>
                        </div>
                    </div>

                </div>
                <div class="card-body" style="background-color: #384047;">
                    @Model.Description
                </div>
                <div class="card-footer">
                </div>
            </div>
            @foreach (var item in Model.Posts)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4 bg-dark">
                            <div class="card-header">
                                <div class="media flex-wrap w-100 align-items-center">
                                    @if (item.AccountAvatarImagePath != null)
                                    {
                                        <img src="/Images/AvatarImages/@item.AccountAvatarImagePath?id=@Model.RandomImageQuery" class="d-block ui-w-40 rounded-circle border border-warning" height="100" width="100" alt="">
                                    }
                                    else
                                    {
                                        <img src="/Images/AvatarImages/defaultAvatar.jpg?id=@Model.RandomImageQuery" class="d-block ui-w-40 rounded-circle border border-warning" height="100" width="100" alt="">
                                    }
                                    <div class="media-body ml-3">
                                        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="text-decoration-none text-warning" data-abc="true">@item.AccountUserName</a>
                                    </div>
                                    <div class="text-info small ml-3">
                                        <div>Created on <strong>@item.CreatedOn</strong></div>
                                    </div>
                                </div>

                            </div>
                            <div class="card-body" style="background-color: #384047;">
                                @Html.Raw(item.SanitizedDescription)
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
            }
            <a href="/Posts/Create?threadId=@Model.Id" class="btn btn-primary float-right">Reply</a>
        </div>
    </div>
</div>





@section Scripts {
    <script>
        function sendVote() {
            $.ajax({
                url: "/Votes/Post",
                type: "POST",
                success: function () {

                }
            });
        }
    </script>
}