@model BaseThreadViewModel

<div>
    <h1 class="display-4 text-center text-warning">@Model.Title</h1>
    <table class="table text-white table-striped table-hover table-dark">
        <thead>
            <tr>
                <th scope="col" class="col">Thread title</th>
                <th scope="col" >Created on</th>
                <th scope="col" >Replies</th>
                <th scope="col" >Votes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Threads)
            {
                <tr>
                    <td><a href="/Threads/ById?threadId=@item.Id" class="text-decoration-none text-warning" role="button">@item.Title</a><br />@item.AccountUserName</td>
                    <td>@item.CreatedOn</td>
                    <td>@item.PostsCount</td>
                    <td>@item.VotesCount</td>
                </tr>

            }
        </tbody>
    </table>
    
    <a href="/Threads/Create/?baseThreadId=@Model.Id" class="btn btn-primary">Create new thread</a>
</div>