@model BaseThreadViewModel

<div class="container-fluid">
    <h1 class="display-4 text-center text-warning">@Model.Title</h1>
    <table class="table text-white table-striped table-hover table-dark">
        <thead>
            <tr>
                <th scope="col" class="col">Thread title</th>
                <th scope="col">Created on</th>
                <th scope="col">Replies</th>
                <th scope="col">Votes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Threads)
            {
                <tr>
                    <td><a href="/Threads/ById?threadId=@item.Id" class="text-decoration-none text-warning" role="button">@item.ShortenedTitle</a><br />@item.AccountUserName</td>
                    <td>@item.CreatedOn</td>
                    <td>@item.PostsCount</td>
                    <td>@item.VotesCount</td>
                </tr>

            }
        </tbody>
        
    </table>
    <a href="/Threads/Create/?baseThreadId=@Model.Id" class="btn btn-primary">Create new thread</a>
    @if (Model.Pager.EndPage > 1)
    {
        <div class="float-right">
            <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li class="float-left mr-1">
                        <a href="/BaseThreads/ById?id=@Model.Id" class="btn btn-info">First</a>
                    </li>
                    <li class="float-left mr-1">
                        <a href="/BaseThreads/ById?id=@Model.Id&page=@(Model.Pager.CurrentPage - 1)" class="btn btn-info">Previous</a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="@(page == Model.Pager.CurrentPage ? "active" : "") float-right mr-1">
                        <a href="/BaseThreads/ById?id=@Model.Id&page=@(page)" class="btn btn-info">@(page)</a>
                    </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li class="float-right mr-1">
                        <a href="/BaseThreads/ById?id=@Model.Id&page=@(Model.Pager.CurrentPage + 1)" class="btn btn-info">Next</a>
                    </li>
                    <li class="float-right mr-1">
                        <a href="/BaseThreads/ById?id=@Model.Id&page=@(Model.Pager.TotalPages)" class="btn btn-info">Last</a>
                    </li>
                }
            </ul>
        </div>
    }
</div>