
@model CompetitionViewModel

@inject UserManager<Account> userManager
@{
    var counter = 1;
    var loggedInAccountId = this.userManager.GetUserAsync(this.User).Result.Id;
    if (Model.Characters.Count() > 0)
    {
        var currAccountId = Model.Characters.FirstOrDefault().Character.AccountId;
    }
}
<div class="text-center">
    <h2 class="text-warning font-weight-bold">@Model.Title</h2>
    <h4><span class="text-warning font-weight-bold">Start date: </span><partial name="ToLocalTime" model="Model.StartDate" /></h4>
    <h4><span class="text-warning font-weight-bold">End date: </span><partial name="ToLocalTime" model="Model.EndDate" /></h4>
    <h5 class="text-warning font-weight-bold">Description</h5>
    <p class="text-break">@Model.Description</p>
</div>

<hr class="bg-warning" />
<div class="row text-center">
    <div class="col-md-12">
        @foreach (var item in Model.Characters)
        {
            <div class="d-inline-block grid mb-5">
                <a href="/Characters/CharacterInfo?characterId=@item.Character.Id&accountId=@item.Character.AccountId"><img src="~/Images/CharacterImages/@item.Character.CharacterImagePath?random=@ViewData["random"]" class="ml-3 mb-3 border border-warning rounded-pill" style="width: 325px; height:300px" /></a>
                @if (counter == 1)
                {
                    <h3 class="font-weight-bolder text-warning">First place</h3>
                }

                else if (counter == 2)
                {
                    <h3 class="font-weight-bold text-warning">Second place</h3>
                }

                else if (counter == 3)
                {
                    <h3 class="font-weight-bold text-warning">Third place</h3>
                }

                <h4 class="text-warning"><span class="font-weight-bold">@item.Character.Title</span> @item.Character.Name</h4>
                <h5 class="text-warning"><span class="text-danger">@item.Votes</span> votes</h5>

                @{
                    counter++;
                }
            </div>
        }
    </div>
</div>
