
@model List<LastPostsViewModel>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4 bg-dark">
                <div class="card-header">
                    <div class="media flex-wrap w-100 align-items-center">
                        @if (item.AccountAvatarImagePath != null)
                        {
                            <img src="/Images/AvatarImages/@item.AccountAvatarImagePath?id=@item.RandomImageQuery" class="d-block ui-w-40 rounded-circle border border-warning" height="100" width="100" alt="">
                        }
                        else
                        {
                            <img src="/Images/AvatarImages/defaultAvatar.jpg?id=@item.RandomImageQuery" class="d-block ui-w-40 rounded-circle border border-warning" height="100" width="100" alt="">
                        }
                        <div class="media-body ml-3">
                            <div class="float-right">
                                <a href="/Threads/ById?threadId=@item.ThreadId" class="text-decoration-none text-warning">@item.ShortedThreadTitle</a>
                            </div>
                            <label class="text-warning">@item.AccountUserName</label>
                            <div class="text-info small">Created on <strong>@item.CreatedOn</strong></div>

                        </div>
                    </div>
                </div>
                <div class="card-body" style="background-color: #384047;">
                    @Html.Raw(item.SanitizedDescription)
                </div>
                <div class="card-footer">
                    @Html.Raw(item.SanitizedForumSignature)
                </div>
            </div>
        </div>
    </div>
}
