
@model List<LastPostsViewModel>

@{
    var pager = Model.Select(x => x.Pager).FirstOrDefault();
    var accountId = Model.Select(x => x.AccountId).FirstOrDefault();
}

<div class="row">
    <div class="col-md-12">
        @if (Model.Count <= 0)
        {
            <div class="text-center text-warning">
                <h2>
                    You currently have no posts.
                </h2>
                <a class="btn btn-outline-warning" asp-controller="Home" asp-action="Index">Write your first post!</a>
            </div>
        }
        else
        {
            <h1 class="text-center text-warning mb-3">@Model.FirstOrDefault().AccountUserName posts</h1>
            <hr class="bg-warning"/>
            @foreach (var item in Model)
            {
                <div class="card mb-4 background-modal-topbottom  border border-dark">
                    <div class="card-header">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="/Images/AvatarImages/@item.AccountAvatarImagePath?random=@ViewData["random"]" class="d-block ui-w-40 rounded-circle border border-warning" height="100" width="100" alt="">

                            <div class="media-body ml-3">
                                <div class="float-right">
                                    <a href="/Threads/ById?threadId=@item.ThreadId" class="text-decoration-none text-warning"><span class="text-white">Original thread: </span>@item.ShortedThreadTitle</a>
                                </div>
                                <label class="text-warning">@item.AccountUserName</label>
                                <div class="small">Created on <strong><partial name="ToLocalTime" model="item.CreatedOn" /></strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body background-modal-body">
                        @Html.Raw(item.SanitizedDescription)
                    </div>
                    <div class="card-footer border-top border-warning">
                        @Html.Raw(item.SanitizedForumSignature)
                    </div>
                </div>
            }

            <hr class="bg-warning"/>
            @if (pager.EndPage > 1)
            {
                <div class="float-left">
                    <ul class="pagination">
                        @if (pager.CurrentPage > 1)
                        {
                            <li class="float-left mr-1">
                                <a href="/Posts/LastPosts?accountId=@accountId" class="btn btn-warning">First</a>
                            </li>
                            <li class="float-left mr-1">
                                <a href="/Posts/LastPosts?accountId=@accountId&page=@(pager.CurrentPage - 1)" class="btn btn-warning">Previous</a>
                            </li>
                        }

                        @for (var page = pager.StartPage; page <= pager.EndPage; page++)
                        {
                            <li class="@(page == pager.CurrentPage ? "active" : "") float-right mr-1">
                                <a href="/Posts/LastPosts?accountId=@accountId&page=@(page)" class="btn btn-outline-warning"warning>@(page)</a>
                            </li>
                        }

                        @if (pager.CurrentPage < pager.TotalPages)
                        {
                            <li class="float-right mr-1">
                                <a href="/Posts/LastPosts?accountId=@accountId&page=@(pager.CurrentPage + 1)" class="btn btn-warning">Next</a>
                            </li>
                            <li class="float-right mr-1">
                                <a href="/Posts/LastPosts?accountId=@accountId&page=@(pager.TotalPages)" class="btn btn-warning">Last</a>
                            </li>
                        }
                    </ul>
                </div>
            }
        }
    </div>
</div>



