
@model List<LastPostsViewModel>

@{
    var pager = Model.Select(x => x.Pager).FirstOrDefault();
    var accountId = Model.Select(x => x.AccountId).FirstOrDefault();
}

<div class="row">
    <div class="col-md-12">
        @if (Model.Count <= 0)
        {
            <div class="text-center">
                <h2>
                    The are currently no posts on the forum.
                </h2>
            </div>
        }
        else
        {
            @foreach (var item in Model)
            {
                <div class="card mb-4 bg-dark">
                    <div class="card-header">
                        <div class="media flex-wrap w-100 align-items-center">
                            @if (item.AccountAvatarImagePath != null)
                            {
                                <img src="/Images/AvatarImages/@item.AccountAvatarImagePath?id=@item.RandomImageQuery" class="d-block ui-w-40 rounded-circle border border-warning" height="100" width="100" alt="">
                            }
                            else
                            {
                                <img src="/Images/AvatarImages/defaultAvatar.jpg?id=@item.RandomImageQuery" class="d-block ui-w-40 rounded-circle border border-warning" height="100" width="100" alt="">
                            }
                            <div class="media-body ml-3">
                                <div class="float-right">
                                    <a href="/Threads/ById?threadId=@item.ThreadId" class="text-decoration-none text-warning">@item.ShortedThreadTitle</a>
                                </div>
                                <label class="text-warning">@item.AccountUserName</label>
                                <div class="text-info small">Created on <strong>@item.CreatedOn</strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" style="background-color: #384047;">
                        @Html.Raw(item.SanitizedDescription)
                    </div>
                    <div class="card-footer">
                        @Html.Raw(item.SanitizedForumSignature)
                    </div>
                </div>
            }
            @if (pager.EndPage > 1)
            {
                <div class="float-right clearfix">
                    <ul class="pagination">
                        @if (pager.CurrentPage > 1)
                        {
                            <li class="float-left mr-1">
                                <a href="/Posts/AllLastPosts" class="btn btn-info">First</a>
                            </li>
                            <li class="float-left mr-1">
                                <a href="/Posts/AllLastPosts?page=@(pager.CurrentPage - 1)" class="btn btn-info">Previous</a>
                            </li>
                        }

                        @for (var page = pager.StartPage; page <= pager.EndPage; page++)
                        {
                            <li class="@(page == pager.CurrentPage ? "active" : "") float-right mr-1">
                                <a href="/Posts/AllLastPosts?page=@(page)" class="btn btn-info">@(page)</a>
                            </li>
                        }

                        @if (pager.CurrentPage < pager.TotalPages)
                        {
                            <li class="float-right mr-1">
                                <a href="/Posts/AllLastPosts?page=@(pager.CurrentPage + 1)" class="btn btn-info">Next</a>
                            </li>
                            <li class="float-right mr-1">
                                <a href="/Posts/AllLastPosts?page=@(pager.TotalPages)" class="btn btn-info">Last</a>
                            </li>
                        }
                    </ul>
                </div>
            }
        }
    </div>
</div>



