
@model List<BugReportListViewModel>

@{
    var pager = Model.Select(x => x.Pager).FirstOrDefault();
}

@if (Model.Count() <= 0)
{
    <div class="text-center">
        <h1 class="text-warning">There are currently no resolved bug reports.</h1>
        <a asp-controller="BugReports" asp-action="AllBugReports" class="btn btn-outline-warning">Unresolved</a>
    </div>
}
else
{
    <h1 class="text-center text-warning">There are currently <span class="text-danger">@Model.Count()</span> resolved bug reports</h1>

    <hr class="bg-warning"/>
    <table class="table table-dark table-striped table-hover text-white background-table">
        <thead class="thead-darker">
            <tr class="text-warning">
                <th scope="col" class="col">Title</th>
                <th scope="col">Reported by</th>
                <th scope="col">Created on</th>
                <th scope="col">Resolved on</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-warning">@item.ShortTitle<br /><span class="text-white">@item.ShortDescription</span></td>
                    <td class="text-info">@item.AccountUserName</td>
                    <td><partial name="ToLocalTime" model="item.CreatedOn" /></td>
                    <td><partial name="ToLocalTime" model="item.ResolvedOn" /></td>
                    <td class="text-success font-weight-bold">@item.IsResolvedString</td>
                </tr>
            }
        </tbody>
    </table>
    
    <hr class="bg-warning"/>
    <div class="d-flex justify-content-between">
        <div>
            <a asp-controller="BugReports" asp-action="AllBugReports" class="btn btn-outline-warning">Unresolved</a>
        </div>
        <div>
            @if (pager.EndPage > 1)
            {
                <div>
                    <ul class="pagination">
                        @if (pager.CurrentPage > 1)
                        {
                            <li class="float-left mr-1">
                                <a href="/Administration/BugReports/AllResolvedBugReports" class="btn btn-warning">First</a>
                            </li>
                            <li class="float-left mr-1">
                                <a href="/Administration/BugReports/AllResolvedBugReports?page=@(pager.CurrentPage - 1)" class="btn btn-warning">Previous</a>
                            </li>
                        }

                        @for (var page = pager.StartPage; page <= pager.EndPage; page++)
                        {
                            <li class="@(page == pager.CurrentPage ? "active" : "") float-right mr-1">
                                <a href="/Administration/BugReports/AllResolvedBugReports?page=@(page)" class="btn btn-outline-warning">@(page)</a>
                            </li>
                        }

                        @if (pager.CurrentPage < pager.TotalPages)
                        {
                            <li class="float-right mr-1">
                                <a href="/Administration/BugReports/AllResolvedBugReports?page=@(pager.CurrentPage + 1)" class="btn btn-warning">Next</a>
                            </li>
                            <li class="float-right mr-1">
                                <a href="/Administration/BugReports/AllResolvedBugReports?page=@(pager.TotalPages)" class="btn btn-warning">Last</a>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>

}


