
@model List<CharacterListViewModel>

@inject UserManager<Account> userManager
@{
    var loggedInAccountId = this.userManager.GetUserAsync(this.User).Result.Id;
    var currAccountId = ViewData["charactersAccountId"].ToString();
    var pager = Model.Select(x => x.Pager).FirstOrDefault();
}

@if (Model.Count() <= 0)
{
    <div class="text-center">
        @if (currAccountId == loggedInAccountId)
        {
            <h1 class="text-warning">You currently have no approved characters.</h1>
            <h3><a asp-controller="Characters" asp-action="CreateCharacter" class="text-decoration-none btn btn-outline-warning">Create one?</a></h3>
            <a class="btn btn-outline-warning" href="/Characters/PendingCharacters?accountId=@currAccountId">Pending characters</a>
        }

        else
        {
            <h1>The account currently has no characters.</h1>
        }

    </div>
}

else
{
    if (Model.Count() <= 1)
    {
        <h1 class="text-warning text-center mb-3">@Model.FirstOrDefault().AccountUserName character</h1>
    }
    else
    {
        <h1 class="text-warning text-center mb-3">@Model.FirstOrDefault().AccountUserName's characters</h1>
    }

    <hr class="bg-warning" />
    <div class="row text-center">
        <div class="col-md-12 ">
            @foreach (var item in Model)
            {
                <div class="d-inline-block grid">
                    <a href="/Characters/CharacterInfo?characterId=@item.Id&accountId=@currAccountId"><img src="~/Images/CharacterImages/@item.CharacterImagePath?random=@ViewData["random"]" class="ml-3 border rounded-pill border-warning" style="width: 325px; height:300px" /></a>
                    <h4><span class="font-weight-bold text-warning">Name: </span>@item.Name</h4>
                    <h5><span class="font-weight-bold text-warning">Title: </span>@item.Title</h5>
                    <h5><span class="font-weight-bold text-warning">Gender: </span>@item.Gender</h5>
                    <h5><span class="font-weight-bold text-warning">Class: </span>@item.ClassName</h5>
                </div>
            }
        </div>
    </div>

    
    <div class="d-flex justify-content-between">
        @if (currAccountId == Model.FirstOrDefault().AccountUserName)
        {
            <hr class="bg-warning" />
            <div>
                <a class="btn btn-outline-warning" href="/Characters/PendingCharacters?accountId=@currAccountId">Pending</a>
            </div>
        }
        <div>
            @if (pager.EndPage > 1)
            {
                <div class="float-left">
                    <ul class="pagination">
                        @if (pager.CurrentPage > 1)
                        {
                            <li class="float-left mr-1">
                                <a href="/Characters/AllCharacters" class="btn btn-info">First</a>
                            </li>
                            <li class="float-left mr-1">
                                <a href="/Characters/AllCharacters?accountId=@currAccountId&page=@(pager.CurrentPage - 1)" class="btn btn-info">Previous</a>
                            </li>
                        }

                        @for (var page = pager.StartPage; page <= pager.EndPage; page++)
                        {
                            <li class="@(page == pager.CurrentPage ? "active" : "") float-right mr-1">
                                <a href="/Characters/AllCharacters?accountId=@currAccountId&page=@(page)" class="btn btn-outline-info">@(page)</a>
                            </li>
                        }

                        @if (pager.CurrentPage < pager.TotalPages)
                        {
                            <li class="float-right mr-1">
                                <a href="/Characters/AllCharacters?accountId=@currAccountId&page=@(pager.CurrentPage + 1)" class="btn btn-info">Next</a>
                            </li>
                            <li class="float-right mr-1">
                                <a href="/Characters/AllCharacters?accountId=@currAccountId&page=@(pager.TotalPages)" class="btn btn-info">Last</a>
                            </li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
}



